/* FONT */
* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
body {
color: #453D3D;
font-size: 1rem;
line-height: 1.3;
-webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.5rem;
  font-weight:normal;
}

button {
  color: white;
  background-color: #B32274;
  font-size: 1.5rem;
  border-radius: 0.625rem;
  -webkit-appearance: none;
  line-height: 1;
  text-decoration: none;
  transition: 300ms
}

img {
  height: 80px;
  width: 80px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1em;
}

/* COLORS */
/* background color -> #B4E4E6 */
/* text color -> #453D3D */
/* button color -> #B32274 */
/* button text color -> white */
